body {
	background-color: lightblue;
	width:80%;
	margin: auto;
	background-image: url(images/steal_machines.png)

}


h1 {
	border: 5px solid white;
	padding: 10px;
	text-align: center;
	display: block;
	margin-left: 600px ;
	top:10px;
	position: absolute;
	font-family: verdana;
	z-index: +1;
	color: white;
}
img {
	width: 55%;
	margin-left: 310px;
	top: 200px;
	position: static ;
	display: block;
	z-index: -1;

}
nav {
	display: inline-block;
	width: 200px;
	position: absolute;
	top: 390px;
	left: 10px;

}
ul {
list-style-type:none;
border: 3px solid black;
margin:0;
padding:0;
width: 200px;
background-color: lightblue;
font-family: "Trebuchet MS";
}

li a {
	display:block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	text-align: left;
}

li a:hover{
	background-color:#555;
	color:white;
}

#content {
	display:block;
	font-family: "Tahoma", serif;
	width: 70%;
	margin: 10px;


}

div p {
	left: 5px;
	display: block-inline;
	position:absolute;
	width: 50%;
}

div {
	margin-top:120px;
}

.legal_stuff {
	width: 250px;
	position: absolute;
	left: 10px;
	top: 800px;
	display: inline-block;
}
.legal_stuff a {
	color:red;
	font-weight: bold;
}

.legal_stuff a:visited{
	color: gray;
}

@media only screen and (max-width: 800px) {
	h1{ 
		display:inline;
		position: absolute;
		left: 50px;
		margin:0px;
	}
	#content {
		font-size: .8em;
	}
	nav {
		font-size: .8em;
	}

}
@media only screen and (max-height: 400px){
	#content {
	font-size: .8em;
	}
}